
<div class="parent">
    <div class="website">
        <!-- Nav bar Start -->
        <nav class="navbar navbar-default">
            <a class="navbar-brand" href="#">Awesome Logos</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="tab">Platform</a></li>
                        <li><a href="#">Solutions</a></li>
                        <li><a href="#">Integrations</a></li>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a><i class="bi bi-person-circle"></i>signin</a></li>
                    </ul>
        </nav>
        <!-- Nav bar End -->
        <!-- Left Content Start -->
        <div class="move"><br><br><br>
            <div><button><h4> WORLD OF WEB</h4></button></div>
            <br><br>
            <div class="text"><h2>The Ultimate testing platform<br>revolves around the web testing cycle</h2></div><br><br>
            <div class="text_2">
                <h3>Our proprietary software combined with<br> our world-class tools and strategy you
                    need to
                    build,<br> run, and analyze your own tests for success.</h3>
            </div><br><br>
                <div class="cal1"><h6> Web Testing <i class="bi bi-chevron-right"></i></h6></div>
                <div class="cal1"> <h6> Web Performance <i class="bi bi-chevron-right"></i></h6></div>
                <div class="cal1"><h6>browser Farm <i class="bi bi-chevron-right"></i></h6></div>
            <div class="cal"><h4> <i class="bi bi-calendar-event">&nbsp; Schedule Time</i></h4></div>
        </div>
        <!-- Left Content end -->
        <img src="/assets/bg.png">    <!--  right background image -->
    </div>
    <!-- bottom images start -->
    <div class="responsive-diagonal"></div>
    <div id="triangle-topleft">
        <div class="design">
            <div class="pic">
                <div class="pic1"><img src="/assets/l_1.jpg.svg" width="30px" height="30px"></div>
                <div class="pic2"><img src="/assets/r1_jpg.svg"></div>
            </div>
        </div>
    </div>
    <!-- bottom images end -->
    <!-- Container start -->
    <div class="down"><br><br>
        <form>
            <div class="container">

                <div id="ready"><h2>Ready to get started?<br>Get in touch or create an account.</h2></div><br><br>
                <div id="access"><h3>To access a complete platform contact us to design a package specifically for your business.</h3></div>
                <div class="time"><label><i class="bi bi-calendar-event">&nbsp; Schedule Time</i></label></div>
            </div>
        </form>
        <br><br> <!-- Container end -->
        <!-- Footer start -->
        <div class="bottom">
            <div class="bottom1"></div>
            <h3><b>Awesome Logos</b></h3>
            <div class="bottom2">
                <h5>Solutions</h5>
                <h5>Web</h5>
                <h5>Mobile</h5>
                <h5>API</h5>
                <h5>AI</h5>
                <h5>Infrastructure</h5>
                <h5>Components/Omni Channel</h5>
            </div>
            <div class="bottom3">
                <h5>Developers</h5>
                <h5>Documentation</h5>
                <h5>API references</h5>
                <h5>Feature Development</h5>
            </div>
            <div class="bottom4">
                <h5>Company</h5>
                <h5>About</h5>
                <h5>Enterprise</h5>
                <h5>Partners</h5>
                <h5>Jobs</h5>
                <h5>Blogs</h5>
                <h5>Newsroom</h5>
            </div>
            <div class="bottom5">
                <h5>Resources</h5>
                <h5>Support</h5>
                <h5>Contact</h5>
                <h5>Guides</h5>
                <h5>Sitemap</h5>
            </div>
        </div>
        <div class="Queries">
            <marquee direction="right">For any queries reach us via whatsApp chat...</marquee>
        </div>
        <br><br><br><br><br><br>
        <hr>
        <div class="last">
            <div class="last_1">
                <h5>All rights reserved</h5>
            </div>
            <div class="last_2">
                <h5>Terms and conditions.privacy Policy</h5>
            </div>
        </div>

        <div class="logo"><img src="/assets/whatssapplogo.png" style="cursor:pointer ;" target="_blank"></div>
    </div>
     <!-- Footer end -->
</div>